.background-animation {
  background: linear-gradient(230deg, #4562f2, #7a8ef0, #99e9f5);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 57%;
  }
  50% {
    background-position: 100% 44%;
  }
  100% {
    background-position: 0% 57%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 57%;
  }
  50% {
    background-position: 100% 44%;
  }
  100% {
    background-position: 0% 57%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 57%;
  }
  50% {
    background-position: 100% 44%;
  }
  100% {
    background-position: 0% 57%;
  }
}

#header-circle {
  background-color: transparent;
  border: solid black 2px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.background-creamy {
  background-color: #e9ecef;
}

#my-projects {
  justify-content: space-between;
}

#my-photo {
  border-radius: 50%;
  border: solid 2px;
  height: 400px;
}

.interest-image {
  flex: 1;
}

.interest-text {
  flex: 2;
}

.fixed-width-1 {
  display: inline-block;
  width: 138px;
  text-align: left;
  white-space: nowrap;
}

.fixed-width-2 {
  display: inline-block;
  width: 178px;
  text-align: left;
  white-space: nowrap;
}

.fixed-width-3 {
  display: inline-block;
  width: 150px;
  text-align: left;
  white-space: nowrap;
}

.fixed-width-4 {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.list-header > span {
  font-size: 16px;
  white-space: nowrap;
}

#work-education-section li {
  margin-bottom: 4px;
}
